$min1280: 1280px;
$max1280: 1279px;

$min768: 768px;
$max768: 767px;

$min375: 375px;
$max375: 374px;

// Colors

$main-color: #395C4B;
$main-color-text: #202321;

$color-light: #F1F6F6;

$secondary-color: #A3A5A3;
