<section class="section tours" id="tours">
  <div class="container tours__container">
    <h2 class="tours__title">Найближчі тури</h2>
    <ul class="list tours__list">
      <li class="item tours__item">
        <button
          class="tours__button tours__button--active"
          type="button"
          id="buttonOne"
        >
          Сходження на Говерлу
        </button>
      </li>
      <li class="tours__buttonsItem">
        <button class="tours__button" type="button" id="buttonTwo">
          Лижний тур на Буковель
        </button>
      </li>
      <li class="tours__buttonsItem">
        <button class="tours__button" type="button" id="buttonThree">
          Тиждень в Карпатах
        </button>
      </li>
    </ul>
    <div class="video">
      <video autoplay muted loop id="videoOne" class="">
        <source src="./video/1.1.mp4" type="video/mp4" />
      </video>
      <video autoplay muted loop id="videoTwo" class="covered">
        <source src="./video/1.2.mp4" type="video/mp4" />
      </video>
      <video autoplay muted loop id="videoThree" class="covered">
        <source src="./video/1.3.mp4" type="video/mp4" />
      </video>
    </div>
    <!-- <p style="text-align: center">
    <button class="previous-button">Previous</button>
    <button class="next-button">Next</button>
  </p>
  <div class="scene">
    <div class="carousel">
      <div class="carousel__cell">
        <div class="textfield">
          <p class="textfield__title">1 день</p>
          <ul class="textfield__list">
            <li class="textfield__item">Виїзд зі Львова</li>
            <li class="textfield__item">Манявський скит</li>
            <li class="textfield__item">Манявський водоспад</li>
            <li class="textfield__item">Приїзд до Буковеля</li>
            <li class="textfield__item">Поселення у готель</li>
            <li class="textfield__item">Вечеря</li>
            <li class="textfield__item">Вечір біля каміну</li>
          </ul>
        </div>
      </div>
      <div class="carousel__cell">
        <div class="textfield">
          <p class="textfield__title">2 день</p>
          <ul class="textfield__list">
            <li class="textfield__item">Сніданок</li>
            <li class="textfield__item">Підйом на Говерлу</li>
            <li class="textfield__item">Обід</li>
            <li class="textfield__item">Активний відпочинок</li>
            <li class="textfield__item">Сауна</li>
            <li class="textfield__item">Вечеря</li>
          </ul>
        </div>
      </div>
      <div class="carousel__cell">
        <div class="textfield">
          <p class="textfield__title">3 день</p>
          <ul class="textfield__list">
            <li class="textfield__item">Сніданок</li>
            <li class="textfield__item">Прогулянка по Буковелю</li>
            <li class="textfield__item">Виселення з готелю</li>
            <li class="textfield__item">Яремче</li>
            <li class="textfield__item">Прибуття до Львову</li>
          </ul>
        </div>
      </div>
      <div class="carousel__cell">
        <div class="textfield">
          <p class="textfield__title">1 день</p>
          <ul class="textfield__list">
            <li class="textfield__item">Виїзд зі Львова</li>
            <li class="textfield__item">Манявський скит</li>
            <li class="textfield__item">Манявський водоспад</li>
            <li class="textfield__item">Приїзд до Буковеля</li>
            <li class="textfield__item">Поселення у готель</li>
            <li class="textfield__item">Вечеря</li>
            <li class="textfield__item">Вечір біля каміну</li>
          </ul>
        </div>
      </div>
      <div class="carousel__cell">
        <div class="textfield">
          <p class="textfield__title">2 день</p>
          <ul class="textfield__list">
            <li class="textfield__item">Сніданок</li>
            <li class="textfield__item">Підйом на Говерлу</li>
            <li class="textfield__item">Обід</li>
            <li class="textfield__item">Активний відпочинок</li>
            <li class="textfield__item">Сауна</li>
            <li class="textfield__item">Вечеря</li>
          </ul>
        </div>
      </div>
      <div class="carousel__cell">
        <div class="textfield">
          <p class="textfield__title">3 день</p>
          <ul class="textfield__list">
            <li class="textfield__item">Сніданок</li>
            <li class="textfield__item">Прогулянка по Буковелю</li>
            <li class="textfield__item">Виселення з готелю</li>
            <li class="textfield__item">Яремче</li>
            <li class="textfield__item">Прибуття до Львову</li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
  </div>
</section>
