.review{
    margin-top: 60px;
    @media screen and (min-width:768px) and (max-width:1279px) {
        margin-top: 80px;
    }
    @media screen and (min-width:1280px) {}
}
.review__container{
    padding: 0 20px;
}
.review__title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    color: $main-color;
    @media screen and (min-width:768px) and (max-width:1279px) {
        font-size: 50px;
        line-height: 67px;
    }
    @media screen and (min-width:1280px) {
        font-size: 70px;
        line-height: 93px;
    }
}
.swiper{
    margin-top: 20px;
    @media screen and (min-width:768px) and (max-width:1279px) {
        margin-top: 40px;
    }
    @media screen and (min-width:1280px) {
        margin-top: 80px;
    }
}
.review__card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.review__item{
    width: 377px;
    height: 590px;
    border: 1px solid black;
    transition: transform 1s ease;
    position: relative;
}
.review__photo--background {
    width: 100%;
}
.review__avatar{
    display: block;
    margin-top: -68px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.review__item--title{
    margin-bottom: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: $main-color;  
}
.review__text{
    margin-right: 28px;
    margin-left: 28px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: $main-color-text;
}
.review__photo--back{
    display: none;
}
.rotate {
    background-color: red;
    transform: rotateY(180deg);
    .review__photo--back {
            transform: rotateY(180deg);
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }
    .review__item{
        display: none;
    }
}